{% extends "core/base.html" %}
{% load static %}
<!--
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/arrows.css' %}">
<link rel="stylesheet" href="{% static 'css/modal.css' %}">
<link rel="stylesheet" href="{% static 'css/table_responsiveness.css' %}">
{% endblock %}
-->
{% block content %}

<div class="container emp-profile" style="max-width: 90%;">


    <div class="row">
        <div class="col-12 col-md-3 text-center">
            <img src="{% static 'img/walmart.png' %}" alt="Logo" class="img-fluid" style="max-width: 50%;">
            <h6 class="text-muted p-1">Registro de conductores</h6>
        </div>
        <div class="col-12 col-md-6">
            <div class="profile-head">
                <!-- Puedes agregar contenido aquí si es necesario -->
            </div>
        </div>
        <div class="col-12 col-md-3 text-center">
            <a href="{% url 'logout' %}" class="btn-logout">
                <input type="submit" class="btn btn-danger btn-block m-2" name="btnAddMore" value="Cerrar Sesión" />
            </a>
            <a target="_blank" class="scan" href="{% url 'details' %}">
                <input type="submit" class="btn btn-primary btn-block m-2" name="btnAddMore"
                    value="Escanear Conductor" />
            </a>
            <a href="{% url 'profiles' %}">
                <input type="submit" class="btn btn-secondary btn-block m-2" name="btnAddMore"
                    value="Editar Conductores" />
            </a>
        </div>
    </div>

    <hr>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="present-tab" data-toggle="tab" href="#present" role="tab"
                aria-controls="home" aria-selected="true">En Espera</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="absent-tab" data-toggle="tab" href="#absent" role="tab" aria-controls="profile"
                aria-selected="false">Sin Escanear</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="history-tab" data-toggle="tab" href="#history" role="tab" aria-controls="contact"
                aria-selected="false">Historial</a>
        </li>
        <!-- <button href="{% url 'dashboard' %}">Dashboard</button> -->

        <a href="{% url 'dashboard' %}">
            <input type="submit" class="btn btn-secondary btn-block m-2" name="btnAddMore" value="Dashboard" />
        </a>

    </ul>




    <div class="tab-content" id="myTabContent">
        <br>
        <div class="tab-pane fade show active" id="present" role="tabpanel" aria-labelledby="home-tab">
            <div class="row">
                <div class="col-md-6">
                    <h5>En espera</h5>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Añadir</th>
                                    <th scope="col">RUT</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Transportista</th>
                                    <th scope="col">Hora</th>
                                    <th scope="col">Prioridad Zona Cero</th>
                                    <!-- <th scope="col">Reordenar</th> -->
                                </tr>
                            </thead>
                            <tbody id="present-not-assigned">
                                {% for profile in present_not_assigned %}
                                <tr class="not-assigned-profile-to-add" data-id="{{ profile.id }}"
                                    onclick="showArrows(this)">
                                    <td><button onclick="showProfileModal('{{ profile.id }}')">+</button></td>
                                    <td>{{profile.rut}}</td>
                                    <td>{{profile.first_name}} {{profile.last_name}}</td>
                                    <td>{{profile.Transportista}}</td>
                                    <td>{{profile.updated |date:"h:iA"}}</td>
                                    <td>{{profile.status}}</td>
                                    <!-- <td class="actions" style="display: none;">
                                        <button onclick="moveUp(this)">▲</button>
                                        <button onclick="moveDown(this)">▼</button>
                                    </td> -->
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-md-6">
                    <h5>Asignado</h5>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">RUT</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Transportista</th>
                                    <th scope="col">Hora</th>
                                </tr>
                            </thead>
                            <tbody id="assigned">
                                {% for profile in assigned %}
                                <tr class="assigned-profile-to-add" data-id="{{ profile.id }}">
                                    <td>{{profile.rut}}</td>
                                    <td>{{profile.first_name}} {{profile.last_name}}</td>
                                    <td>{{profile.Transportista}}</td>
                                    <td>{{profile.updated |date:"h:iA"}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="mt-3">
                <a href="{% url 'reset' %}" onclick="return confirm('¿Estás seguro de que deseas reiniciar?')">
                    <button type="button" class="btn btn-outline-secondary">Reiniciar</button>
                </a>
                <a href="{% url 'index' %}">
                    <button type="button" class="btn btn-outline-primary">Actualizar</button>
                </a>
            </div>
        </div>


        <div class="tab-pane fade" id="absent" role="tabpanel" aria-labelledby="profile-tab">
            <table class="table table-striped ">
                <thead>
                    <tr>
                        <th scope="col"> </th>
                        <th scope="col">Rut</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Transportista</th>

                    </tr>
                </thead>
                <tbody>
                    {% for profile in absent%}
                    <tr>
                        <th scope="row">-</th>
                        <td>{{profile.rut}}</td>
                        <td>{{profile.first_name}} {{profile.last_name}}</td>
                        <td>{{profile.Transportista}}</td>

                    </tr>
                    {% endfor%}
                </tbody>
            </table>

        </div>


        <div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="contact-tab">
            <h5>Historial de Rostros Escaneados</h5>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    {% for face in scanned %}
                    <tr>
                        <td>{{ face.last_face }}</td>
                        <td>{{ face.date|date:"d/m/Y H:i" }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="2" class="text-center">No hay registros en el historial.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <h5>Historial de Cambios de Estado</h5>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Fecha</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">RUN</th>
                        <th scope="col">Prioridad Zona Cero Anterior</th>
                        <th scope="col">Nueva Prioridad Zona Cero</th>
                    </tr>
                </thead>
                <tbody>
                    {% for change in history %}
                    <tr>
                        <td>{{ change.date|date:"d/m/Y H:i" }}</td>
                        <td>{{ change.profile.first_name }} {{ change.profile.last_name }}</td>
                        <td>{{ change.profile.rut }}</td>
                        <td>{{ change.previous_status }}</td>
                        <td>{{ change.new_status }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5" class="text-center">No hay cambios registrados.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'clear_history' %}"
                onclick="return confirm('¿Estás seguro de que deseas limpiar el historial?')">
                <button type="button" class="btn btn-outline-secondary">Limpiar Historial</button>
            </a>
        </div>
    </div>



    <div id="profileModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeProfileModal()">&times;</span>
            <div id="profileDetails"></div>
            <button onclick="assignDriver()">Asignar ruta</button>
        </div>
    </div>



    <script>
        $(".scan").click(function () {
            var postData = { csrfmiddlewaretoken: '{{ csrf_token }}' }
            $.ajax({
                url: "{% url 'scan' %}",
                data: {

                },
            });
        });
    </script>
    <!--
    <script>
        function autoReload() {
            setInterval(() => {
                window.location.reload();
            }, 5000);
        }

        window.addEventListener('load', autoReload);
    </script>
    -->
    <script src="{% static 'js/reorder.js' %}"></script>
    <script src="{% static 'js/modal.js' %}"></script>
    <script src="{% static 'js/assign.js' %}"></script>
    <script src="{% static 'js/insert_to_table.js' %}"></script>
    <script src="{% static 'js/update_table.js' %}"></script>

    <style>
        /*modal*/
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.4);
        }

        .modal-content {
            background-color: #fff;
            /* White background */
            margin: 10% auto;
            padding: 20px;
            border: 1px solid #ccc;
            /* Light grey border */
            width: 50%;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            /* Slight shadow */
            border-radius: 8px;
            /* Rounded corners */
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        /*columnas EsEspera*/
        .table-responsive {
            overflow-x: auto;
        }

        /*flechas*/
        .actions {
            display: none;
        }

        .actions button {
            cursor: pointer;
            background: none;
            border: none;
            font-size: 16px;
        }

        /*inserción de datos a tablas*/
        @keyframes fadeIn {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        .fade-in {
            animation: fadeIn 1s ease-in-out;
        }
    </style>
    {% endblock content %}8